* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #2e2e48;
  background-color: #fff;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  display: flex;
  gap: 1rem;
}

.card-container {
  width: 33.33%;
  background-color: #f7f9fc;
}

.box {
  border-radius: 10px;
  padding: 1rem;
}

.imgBx {
  width: 60px;
  height: 60px;
}

.imgBx img {
  object-fit: cover;
}

.boxh {
  text-transform: capitalize;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.boxh h1 {
  font-size: inherit;
}

.boxh h1,
.boxbottom h2 {
  font-size: 600;
}

.box:hover {
  background-color: #d0cece;
}
